<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>NYCDA AngularJS 102 - Homework 2</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-controller="myController">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Simon</h3>
				</div>
				<div class="col-md-4">
					<h3 class="float: right;">Score:
						<span>{{board.score}}</span>
					</h3>
				</div>
				<div class="col-md-2 start">
					<button class="btn btn-success" ng-click="startGame()">Start Game</button>
				</div>
			</div><hr>


			<div class="row">
				<div class="col-md-6">
					<div class="col-md-3">

					<div id="green" ng-class="currentSelection + ' square green'" ng-click="userSelect('Green', colorOptions.Green)"></div>
					<div id="yellow" ng-class="currentSelection + ' square yellow'" ng-click="userSelect('Yellow', colorOptions.Yellow)"></div>

					</div>

					<div class="col-md-3">

					<div id="red" ng-class="currentSelection + ' square red'" ng-click="userSelect('Red', colorOptions.Red)"></div>

					<div id="blue" ng-class="currentSelection + ' square blue'" ng-click="userSelect('Blue', colorOptions.Blue)"></div>

					</div>
				</div>

				<div class="col-md-6">
					<h3>{{sequence}}</h3>
					<div ng-repeat="item in board.userColors">
						<span>{{item.value}}</span>
					</div>
				</div>
			</div>

			<div class="row" id="gameUpdate">
				<div class="col-md-12">
					<h2>{{gameUpdate}}</h2>
				</div>
			</div>
		</div>




		<script src='../node_modules/angular/angular.min.js'></script>
		<script src='scripts/app.js'></script>
	</body>
</html>