<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>NYCDA AngularJS 102 - Homework 2</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body>
		<div class="container" ng-controller="myController">
			<div class="row">
				<div class="col-md-6">
					<h3>Simon</h3>
				</div>
				<div class="col-md-4">
					<h3 class="col-md-4">
						Level: <span>{{board.level}}</span>
					</h3>
					<h3 class="col-md-4">Score:
						<span>{{board.score}}</span>
					</h3>
				</div>
				<div class="col-md-2 start">
					<button class="btn btn-success" ng-disabled="board.buttonDisable" ng-click="startGame()">Start Game</button>
				</div>
			</div><hr>

			<div class="row">
				<div class="col-md-6">
					<div class="col-md-3">
						<div class="square green"
							ng-class="{'darkGreen': shouldHighlight(board.currentSelection, colorOptions.Green)}"
							ng-click="userSelect('Green')"
							ng-mousedown="darkColor(colorOptions.Green)"
							ng-mouseup="lightColor()"
							ng-model="board.currentSelection">
						</div>
						<div class="square yellow"
							ng-class="{'darkYellow': shouldHighlight(board.currentSelection, colorOptions.Yellow)}"
							ng-click="userSelect('Yellow')"
							ng-mousedown="darkColor(colorOptions.Yellow)"
							ng-mouseup="lightColor()"
							ng-model="board.currentSelection">
						</div>
					</div>
					<div class="col-md-3">
						<div class="square red"
							ng-class="{'darkRed': shouldHighlight(board.currentSelection, colorOptions.Red)}"
							ng-click="userSelect('Red')"
							ng-mousedown="darkColor(colorOptions.Red)"
							ng-mouseup="lightColor()"
							ng-model="board.currentSelection">
						</div>

						<div class="square blue"
							ng-class="{'darkBlue': shouldHighlight(board.currentSelection, colorOptions.Blue)}"
							ng-click="userSelect('Blue')"
							ng-mousedown="darkColor(colorOptions.Blue)"
							ng-mouseup="lightColor()"
							ng-model="board.currentSelection">
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<h3>{{board.sequence}}</h3>
					<div ng-show="board.user" ng-repeat="item in board.userColors">
						<span>{{item.value}}</span>
					</div>
					<div ng-show="board.simon" ng-repeat="item in board.simonColors">
						<span>{{item.value}}</span>
					</div>
				</div>
			</div>

			<div class="row" id="gameUpdate">
				<div class="col-md-12">
					<h2>{{board.gameUpdate}}</h2>
				</div>
			</div>
		</div>

		<script src='../node_modules/angular/angular.min.js'></script>
		<script src='scripts/app.js'></script>
	</body>
</html>